#snake-field {
    display: inline-block;
}

.clear {
    clear: both;
}

#snake-start, #snake-renew {
    width: 100px;
    padding: 15px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
    float: left;
    margin-right: 10px;
}

.game-table {
    border-collapse: collapse;
    background-color: #3e3e3e;
}

.game-table-cell {
    width: 15px;
    height: 15px;
    border: 1px dotted #eee;
}

.snake-unit {
    background-color: white !important;

}

.block-unit {
    background-color: black;
}



.food-unit {
    background-color: red;

}

.buttons {
    display: inline-block;
}

.wrap {
    margin: 30px auto 0;
    text-align: center;
}